In [1]:
#Modules and Packages
#import the library
import math

In [2]:
#Use it (ceiling rounding)
math.ceil(2.4)

3

In [6]:
math.floor(2.4)

2

In [3]:
#Exploring built-in modules
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [4]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [7]:
#writing modules
#Writing packages
#Just an example, this won't work
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [8]:
# OR could do it this way
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [10]:
__init__.py:
__all__=["bar"]

SyntaxError: invalid syntax (2124269344.py, line 1)

In [11]:
#Errors and Exception Handling
print('Hello')

Hello

In [12]:
#Try and except
try:
    f=open('testfile','w')
    f.write('Test write this')
except IOError:
    #This will only check for an IOError exception and then execute this print statement
    print("ERROR: Could not find file or read data")
else:
    print("Concent written successfully")
    f.close()

Concent written successfully

In [13]:
#Now,let's see what happens when we don't have write permission?(opening only with'r'):
try:
    f=open('testfile','r')
    f.write('Test write this')
except IOError:
    #This will only check for an IOError exception and then execute this print statement
    print("ERROR: Could not find file or read data")
else:
    print("Concent written successfully")
    f.close()

ERROR: Could not find file or read data

In [14]:
#We could have also just said except:if we were'nt sure what exception would occur.
try:
    f=open('testfile','w')
    f.write('Test write this')
except:
    #This will only check for an IOError exception and then execute this print statement
    print("ERROR: Could not find file or read data")
else:
    print("Concent written successfully")
    f.close()

Concent written successfully

In [15]:
try:
    f=open('testfile','w')
    f.write("Test write statement")
finally:
    print("Always execute finally code blocks")

Always execute finally code blocks

In [19]:
#We can use this in conjunction with except.Let's see a new example that will take into account a user putting in the wrong input:
def askint():
    try:
        val=int(input("Please enter an integer:"))
    except:
        print("Looks like you did not enter an integer!")
    finally:
        print("Finally,I executed!")
    print(val)

In [17]:
askint()

Please enter an integer: 56

Finally,I executed!
56

In [18]:
askint()

Please enter an integer:

Looks like you did not enter an integer!
Finally,I executed!

UnboundLocalError: cannot access local variable 'val' where it is not associated with a value

In [20]:
def askint():
    try:
        val=int(input("Please enter an integer:"))
    except:
        print("Looks like you did not enter an integer!")
        val=int(input("Try again-Please enter an integer:"))
    finally:
        print("Finally,I executed!")
    print(val)

In [21]:
askint()

Please enter an integer: 45

Finally,I executed!
45

In [22]:
askint()

Please enter an integer:

Looks like you did not enter an integer!

Try again-Please enter an integer:

Finally,I executed!

ValueError: invalid literal for int() with base 10: ''

In [23]:
def askint():
    while True:
        try:
            val=int(input("Please enter an integer:"))
        except:
            print("Looks like you did not enter an integer!")
            continue
        else:
            print("Yep that's an integer")
            break
        finally:
            print("Finally,I executed!")
        print(val)

In [24]:
askint()

Please enter an integer: 6

Yep that's an integer
Finally,I executed!

In [28]:
#Database connectivity and operations using Python.
#For Example, the following is the example of connecting with MySQL database "my_database1" and creating table gradest and inserting values inside
#!/usr/bin/python
import sqlite3
#connecting with the database.
db = sqlite3.connect("my_database1.db")
# Drop table if it already exist using execute() method
db.execute("drop table if exists grades1")
# Create table as per requirement
db.execute("create table grades1(id int, name text, score int)")
#inserting values inside the created table
db.execute("insert into grades1(id, name, score) values (101, 'John', 99)")
db.execute("insert into grades1(id, name, score) values (102, 'Gary', 90)")
db.execute("insert into grades1(id, name, score) values (103, 'James', 80)")
db.execute("insert into grades1(id, name, score) values (104, 'Cathy', 85)")
db.execute("insert into grades1(id, name, score) values (105, 'Kris', 95)")

In [29]:
db.commit()

In [30]:
results=db.execute("select*from grades1 order by id")
for row in results:
    print(row)
print("-" * 60)

(101, 'John', 99)
(102, 'Gary', 90)
(103, 'James', 80)
(104, 'Cathy', 85)
(105, 'Kris', 95)
------------------------------------------------------------

In [36]:
results=db.execute("select * from grades1 where name = 'Gary' ") 
for row in results:
    print(row)
print("-" * 60)

(102, 'Gary', 90)
------------------------------------------------------------

In [37]:
results=db.execute("select * from grades1 where score >+ 90")
for row in results:
    print(row)
print("-" * 60)

(101, 'John', 99)
(105, 'Kris', 95)
------------------------------------------------------------

In [35]:
results=db.execute("select name, score from grades1 order by score desc ")
for row in results:
    print(row)
print("-" * 60)

('John', 99)
('Kris', 95)
('Gary', 90)
('Cathy', 85)
('James', 80)
------------------------------------------------------------

In [39]:
results=db.execute("select name, score from grades1 order by score ")
for row in results:
    print(row) 
print("-" * 60)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)
------------------------------------------------------------

In [40]:
results=db.execute("select name, score from grades1 order by score ")
for row in results:
    print(row)

('James', 80)
('Cathy', 85)
('Gary', 90)
('Kris', 95)
('John', 99)